.task11_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.task11_imgWrapper {
    display: flex;
    justify-content: center;
    max-width: 500px;
}

.task11_imgWrapper img {
    max-width: 100%;
}

.task11_answer {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.task11_answer span {
    margin: 20px;
}

.task11_answer input {
    margin: 10px;
    width: 30px;
    height: 24px;
    font-size: 24px;
    border: 1px solid #0AB7D3;
    text-align: center;
}

.task11_checkTask {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.task11_chek_answer {
    font-size: 26px;
}

.task11_play {
    cursor: pointer;
}